body {
	min-height: 380px;
	line-height: 200%;
	padding-right: 0;
	padding-left: 0;
}
.cover {
	padding-top: 25px;
}
.bb-custom-side p {
	font-size: 1.0em;
}
.bb2-custom-side p {
	font-size: 1.3em;
}
#font-kecil {
	font-size: 0.95em;
}
@media screen and (max-width: 61.75em){
	.chapter-title {
		font-size: 180%;
	}
}