/*=================================================
	Header : ;
	Body : ;
	Btn-Pink : #FF8D80;
	Light Yellow: #FFF5D6;
	Light Green: #4CFFB1;
	Limey: #D1E751;
	Confirm Green: rgb(155, 211, 63) #9BD33F;
	Confirm Green Pastel : #89E894;
	Footer: ;
==================================================*/
body {
	font-family: 'Open Sans', sans-serif;
	background: #F7ECD6;
}
@font-face {
    font-family: 'pacificoregular';
    src: url('pacifico-webfont.eot');
    src: url('pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('pacifico-webfont.woff') format('woff'),
         url('pacifico-webfont.ttf') format('truetype'),
         url('pacifico-webfont.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
       -moz-animation:fadeIn ease-in 1;
            animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
       -moz-animation-fill-mode:forwards;
    		animation-fill-mode:forwards;
 
    -webkit-animation-duration:0.5s;
       -moz-animation-duration:0.5s;
    		animation-duration:0.5s;

    -webkit-animation-delay: 0.3s;
	   -moz-animation-delay: 0.3s;
			animation-delay: 0.3s;
}
.confirm-box {
	background-color: #9BD33F;
	color: white;
	padding: 0 10px;
	margin-bottom: 6px;
	border: 1px solid #88C425;
	cursor: pointer;
	-webkit-transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
       -moz-transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
        -ms-transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
         -o-transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
            transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */
}
.confirm-box:hover {
	-webkit-box-shadow: 0 0 10px rgba(8, 22, 37, 0.3);
	   -moz-box-shadow: 0 0 10px rgba(8, 22, 37, 0.3);
		    box-shadow: 0 0 10px rgba(8, 22, 37, 0.3);
}
.caption h3 {
	color: brown;
}
.jumbotron {
	color: 	#8E7B66;
	text-align: center;
	padding-top: 20px;
	cursor: default;
}
.jumbotron h1 {
	/*font-family: 'Lobster', cursive;*/
	font-family: 'pacificoregular', cursive;
	font-size: 90px;
	line-height: 1;
	letter-spacing: -2px;
}
.jumbotron p {
	font-size: 40px;
	font-weight: 200;
	line-height: 1.25;
}
.bottom30 {
	padding-bottom: 30px;
}
.garis {
	border-bottom: 4px solid #77312F;
	margin-bottom: 20px;
	margin-top: 20px;
}
.story {
	font-family: 'Open Sans', sans-serif;
}
.navbar .nav > li > a {
    font-size: 15px;
   	color: #FAF1DA;
   	text-shadow: 0 1px 0 #0E0A0A;
   	margin-left: 5px;
   	margin-right: 5px;
   	
    margin-top: 4px;
}
.navbar .nav > li > a:hover {
	color: #E55E5B;
	text-shadow: 0 0 10px #FF8D80;
}
.navbar .brand {
	color:  #F9EAD7;
	font-family: 'pacificoregular', cursive;
	padding-left: 35px;
	text-shadow: 0 1px 0 rgb(109, 100, 100);
	margin-top: 2px;
	margin-left: 0px;
	font-size: 31px;
}
.brand:before, .brand:after {
	content: '.';
	position: absolute;
	top: 29px;
	font-size: 43px;
}
.brand:before {
    left: 42px;
	
}
.brand:after {
    left: 229px;
	
}
.navbar {
	margin-left: 39px;
}
.navbar .container {
	border-bottom: 4px solid #77312F;
}
.navbar-inner {
	/*Don't Ever Put Height, height mengacaukan responsive nav.*/
	background: #77312F;
	/*border: 1px solid #401A19;*/
	border-top: none;
    border-left: none;
    border-right: none;
	border-bottom: 4px solid #77312F;
	padding-left: 0;
	padding-right: 0;
	border-radius: 0;
}
.navbar-inner:after {
    box-sizing: border-box;
}
.navbar-inner:before {
    content: '';
    position: absolute;
    top: 49px;         
    left: 3px;
    z-index: -1;
    background: #77312F;
    width: 35px;
    height: 0;
    border: 25px solid transparent;
    border-left-color: #F7ECD6;
}
.navbar-inner:after {
    content: '';	
    top: 80px;
	height: 0;
	position:absolute;
    border-top: 19px solid #3A1A1F;
    border-left: 50px solid transparent;
    z-index: -1;
}
.ribbon-stitches {
   margin-bottom: 12px;
   border-top: 1px dashed #760D0D;
   -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
   	  -moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
           box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}
.ribbon-stitches-top {
   margin-top:2px;
   border-top: 1px dashed #760D0D;
   -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
      -moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
           box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.ribbon-stitches-bottom {
   margin-bottom:2px;
   border-top: 1px dashed #760D0D;
   -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
      -moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
           box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}
.btn {
	color: #FFF;
	background-color: #7F4740;
	background-image: none;
	border: 1px solid #cccccc;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	border-radius: 2px;
}
.btn:hover {
	background-color: #FF8D80;
}
.btn-red {
	background-color: #FF8D80;
}
.btn-pink {
	color: #FFF;
	background-color: #FF8D80;
	background-image: none;
	border: 1px solid #cccccc;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	border-radius: 2px;
/*	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);*/
}
.btn-pink:hover {
	background-color: #FF9E93;
}

.flowplayer {
   height: 338px;
   margin-top: 40px;
}
/* custom player skin */
.flowplayer { background-color: #222; background-size: cover;}
.flowplayer .fp-controls { background-color: rgba(82, 67, 60, 0.4)}
.flowplayer .fp-timeline { background-color: rgba(0, 0, 0, 0.5)}
.flowplayer .fp-progress { background-color: rgba(127, 42, 45, 1)}
.flowplayer .fp-buffer { background-color: rgba(247, 236, 214, 1)}
.flowplayer { background-image: url(../img/background-video.png)}
.upper {
	height: 30px;
}
.down {
	padding-top: 15px;
	min-height: 425px;
}
.ribbon {
	background: url(../img/ribbon.png) no-repeat;
	float: left;
	position: absolute;
	width: 284px;
	height: 70px;
}
.block {
	font-family: 'BLOKKRegular';
}

.blok > .span4 > p {
	width: 370px;
	height: 28px;
	background-color: #A28877;
}
.blok > .span8 > p {
	width: 770px;
	height: 28px;
	background-color: #A28877;
}
.thumbnail {
	display: block;
	padding: 4px;
	color : #8E7B66;
	border: 1px solid rgba(255, 255, 255, 0);
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
       -moz-transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
        -ms-transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
         -o-transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
            transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */
	        
	transition: all 200ms ease-out;
}
.thumbnail:hover, .thumbnail:focus {
	background-color: #FFF5D6;
	border: 1px solid #332a29;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 10px -2px #000;
	   -moz-box-shadow: 0 0 10px -2px #000;
		    box-shadow: 0 0 10px -2px #000;
}
.thumbnail .caption {
	padding-top: 0;
}
.thumbnail h3:nth-child(2) {
    color: #FF8D80;
}
.margin-none {
	margin: 0 0 0;
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('images/fancybox_sprite.png');
}
.envelope {
	border-radius: 4px;
	border: 1px solid #c7c7c7;
	border-bottom-color: #aaa;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	padding-bottom: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	overflow: hidden;
	border-top-color: #6d6d6d;
	background: url(https://gumroad.s3.amazonaws.com/assets/envelope-stripes-4dc433326a9ea31adcf6c039986c8740.png) 8px 0 repeat-x #f5f5f5;
	padding-top: 4px;
	background: url(https://gumroad.s3.amazonaws.com/assets/envelope-stripes-4dc433326a9ea31adcf6c039986c8740.png) 8px 0 repeat-x,-webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f5f5f5));
	background: url(https://gumroad.s3.amazonaws.com/assets/envelope-stripes-4dc433326a9ea31adcf6c039986c8740.png) 8px 0 repeat-x,-moz-linear-gradient(top, #fafafa, #f5f5f5);
	background: url(https://gumroad.s3.amazonaws.com/assets/envelope-stripes-4dc433326a9ea31adcf6c039986c8740.png) 8px 0 repeat-x,-o-linear-gradient(top, #fafafa, #f5f5f5);
	margin-bottom: 20px;
}
.envelope p {
	padding: 10px 10px 0;
	margin: 0;
	font-size: 13px;
	line-height: 21px;
}
.buy {
	max-width: 40%;
	min-width: 344px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	padding: 10px;
	padding-top: 0;
	border: 1px solid #77312F;
	background-color: rgba(255, 218, 105, 0.69);
	border-radius: 4px;
}
.buy h1 {
	font-size: 45px;
}
#howto .dashed-border {
	border-radius: 55px;
	-webkit-transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
       -moz-transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
        -ms-transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
         -o-transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
            transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */
}
#howto .dashed-border:hover {
    box-shadow: 0 0 0 10px brown;
}
#contact-us form {
	width: 100%;
}
#contact-us input, #contact-us textarea {
	width: 100%;
	height: 40px;
}
#contactform > input, #contactform > textarea {
    box-sizing: border-box;
}
.row-fluid h1, .row h1, .row-fluid h2, .row h2, footer h3 {
	/*font-family: 'Lobster', cursive;*/
	font-family: 'pacificoregular', cursive;
}
/* Fancy Styles */
.bottom-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.dashed-border {
	border-radius: 2px;
	border: 2px dashed #77312F;
	border: 2px dashed #88C425;
	padding: 0 10px;
	background-color: #FFF5D6;
}
.border-brown {
	border: 4px solid brown;
}
.cream {
	background-color: #FFF5D6;
}
/*Footer*/
.footer .container {
	margin-left: 1%;
	margin-right: 1%;
}
footer {
	color: #F7ECD6;
	/*font-size: 12px;*/
	margin-top: 25px;
	background: #332a29;
}
footer img {
	margin-top: 20px;
	margin-bottom: 20px;
}
footer p, footer a {
	color: #F7ECD6;
}
footer a:hover, footer a:focus {
	text-decoration: none;
	color: #736453;
}
footer a:hover > .fwicon-facebook {
	color: #3b5998;
}
footer a:hover > .fwicon-twitter {
	color: #4099FF;
}
footer .fwicon-large, footer .fwicon-2x {
	padding: 4px;
}
/*Media Queries*/
/*@media (min-width: 980px){
	.navbar {
		margin-left: 39px;
	}
}*/
@media (max-width: 979px){
	/*.navbar {
		margin-left: 39px;
	}*/
	.nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a {
		padding: 9px 15px;
		font-weight: bold;
		color: #777;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background-color: #fff;
	}
	.jumbotron h1 {
		font-size: 90px;
	}
}
@media (max-width: 767px) {
	body {
		padding-right: 0;
		padding-left: 0;
	}
	.container {
		padding-right: 15px;
		padding-left: 15px;
	}
	.jumbotron h1 {
		font-size: 50px;
	}
}
@media (min-width: 1200px){
	[class*="span"] {
		margin-left: 20px;
	}
}